In [1]:
pip install wrds

The following command must be run outside of the IPython shell:

    $ pip install wrds

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

In [ ]:
import pandas as pd
import numpy as np
import datetime as dt
import statsmodels.api as sm
from scipy.stats.mstats import winsorize
import matplotlib.pyplot as plt

import wrds

In [ ]:
conn=wrds.Connection()

In [ ]:
import os  
os.getcwd()  #this tells you where the current working directory is. 
import pandas as pd
# if your datafile is in the same folder as the current working directory:
# put \\data_final.csv after the current working directory
df_dataset_bankruptcy = pd.read_csv('bankruptcy dataset_WRDS.csv') 

df_dataset_bankruptcy

In [ ]:
df_dataset_bankruptcy.columns

In [7]:
# missing values for each variable 

#1) drop the missing values: in what cases? 

#2) replace the missing values with 0: in what cases?

df_data_final['REALPROP'].isnull().value_counts()

NameError: name 'df_data_final' is not defined

In [8]:
df_dataset_bankruptcy['REALPROP'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
44711    False
44712    False
44713    False
44714    False
44715    False
Name: REALPROP, Length: 44716, dtype: bool

In [9]:
df_dataset_bankruptcy['REALPROP'].describe()

count    4.224300e+04
mean     7.440214e+04
std      5.633315e+05
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      7.000000e+04
max      5.712500e+07
Name: REALPROP, dtype: float64

In [10]:
df_dataset_bankruptcy['PROP-LIABILITY Ratio'].describe()

count     44716
unique    14277
top           0
freq      27902
Name: PROP-LIABILITY Ratio, dtype: object

In [11]:
df_dataset_bankruptcy['REALPROP'] = df_dataset_bankruptcy['REALPROP'].fillna(0)

In [12]:
df_dataset_bankruptcy['REALPROP'].isnull().value_counts()

False    44716
Name: REALPROP, dtype: int64

In [13]:
df_dataset_bankruptcy['TOTLBLTS'].isnull().value_counts() # now let's look at stock return

False    44716
Name: TOTLBLTS, dtype: int64

In [14]:
df_dataset_bankruptcy(axis=0, subset=['TOTLBLTS'], inplace=True)

TypeError: 'DataFrame' object is not callable

In [15]:
df_dataset_bankruptcy['TOTLBLTS'].isnull().value_counts()
df_dataset_bankruptcy

,SNAPSHOT,SNAPFILE,SNAPPEND,SNAPCLOS,CASEKEY,CIRCUIT,DISTRICT,OFFICE,DOCKET,GEN,...,UNSECPR,UNSECNPR,DSCHRGD,NDSCHRGD,TOTDBT,CNTMNTHI,AVGMNTHI,AVGMNTHE,FLCMECFV,PROP-LIABILITY Ratio
0,20210331,1,1,0,7.52E+12,7,52,3,2180344,0,...,1300.0,39046.21,140046.21,1300.0,141346.21,4446.00,3674.00,3584.00,5.3.4,0.778230983
1,20210331,1,1,0,9.72E+12,9,72,2,2120969,0,...,0.0,39777.00,375434.00,0.0,375434.00,3225.00,2443.00,4503.00,5.3.3,1.185294885
2,20210331,1,1,0,097221422884r1,9,72,2,1422884,r,...,0.0,651622.98,1066822.98,0.0,1066822.98,9950.12,12449.00,10957.78,5.3.3,0.492490329
3,20210331,1,1,0,5.42E+12,5,42,3,2130172,0,...,3100.0,54563.00,159448.00,0.0,159448.00,904.87,2944.00,1329.00,10.5.3,0.612412824
4,20210331,1,1,0,5.42E+12,5,42,3,2130253,0,...,0.0,108777.00,122852.00,21343.0,144195.00,4892.11,3400.00,3332.00,10.5.3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44711,20210331,1,1,0,1.09E+13,10,85,4,2110318,0,...,0.0,44851.55,62090.55,0.0,62090.55,3942.31,2784.23,2490.59,5.3.3,0
44712,20210331,1,1,0,1.09E+13,10,88,2,2121278,0,...,0.0,17581.59,17581.59,0.0,17581.59,2256.71,1701.95,1601.95,5.3.4,0
44713,20210331,1,1,0,7.55E+12,7,55,3,2130280,0,...,0.0,157711.66,423727.66,4336.0,428063.66,10483.90,7712.34,5775.73,10.5.2,0.492683728
44714,20210331,1,1,0,6.48E+12,6,47,6,2160422,0,...,350.0,6099.98,24243.98,350.0,24593.98,2944.70,2457.97,2347.69,5.3.4,0
44715,20210331,1,1,0,4.21E+12,4,20,7,2100748,0,...,0.0,11822.00,209793.00,0.0,209793.00,203.00,1895.00,2065.00,10.6.1,0.931918605

In [26]:
df_dataset_bankruptcy = df_dataset_bankruptcy[df_dataset_bankruptcy['REALPROP']<10000]
df_dataset_bankruptcy = df_dataset_bankruptcy[df_dataset_bankruptcy['REALPROP']!=0]

In [27]:
len(df_dataset_bankruptcy)

720

In [28]:
df_dataset_bankruptcy['PROP-LIABILITY Ratio']

37       0.157251248
57       0.111637402
111      0.104663754
117      0.045034171
202       0.02357173
            ...
44532     0.07612088
44563    0.019210862
44610    0.168132942
44655    0.251918777
44688    0.056279688
Name: PROP-LIABILITY Ratio, Length: 720, dtype: object

In [29]:
df_dataset_bankruptcy['TOTLBLTS']

37        50874.00
57        62703.00
111       47772.03
117      114579.66
202       21211.85
           ...
44532     13137.00
44563     66655.00
44610     25575.00
44655     39218.99
44688     88842.00
Name: TOTLBLTS, Length: 720, dtype: float64

In [30]:
REALPROP=df_dataset_bankruptcy['REALPROP']  # the other variables are also changed. 
len(REALPROP)

720

In [31]:
PROPLIABILITYRatio=df_dataset_bankruptcy['PROP-LIABILITY Ratio']
len(PROPLIABILITYRatio)

720

In [21]:
PROPLIABILITYRatio

0        0.778230983
1        1.185294885
2        0.492490329
3        0.612412824
4                  0
            ...
44711              0
44712              0
44713    0.492683728
44714              0
44715    0.931918605
Name: PROP-LIABILITY Ratio, Length: 44716, dtype: object

In [ ]:
# making Python plots 
# plt.subplot(1, 2, 1): the figure has 1 row, 2 columns, and this plot is the first plot

plt.figure(figsize=(16,9))

plt.subplot(1,2,1)   
plt.hist(PROPLIABILITYRatio,bins=10)  
# histogram: make 50 bins between the lowest value and highest value of return: count the amount of observations in each bin. 

plt.subplot(1,2,2)
plt.hist(PROPLIABILITYRatio, bins=10)
plt.show()

In [ ]:
PROPLIABILITYRatio